name: Qt Build & Test

on: [push, pull_request]

jobs:
  build:
    name: Build and Test on Ubuntu
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install Qt
        uses: jurplel/install-qt-action@v3
        with:
          version: '6.6.0'
          host: 'linux'
          target: 'desktop'
          arch: 'gcc_64'

      - name: Install Dependencies (Ninja & CMake)
        run: |
          sudo apt-get update
          sudo apt-get install -y ninja-build cmake build-essential

      - name: Configure Project
        run: cmake -B build -S . -G Ninja -DCMAKE_BUILD_TYPE=Debug

      - name: Build All
        run: cmake --build build --parallel

      - name: Run Tests
        working-directory: build/TravelTests
        run: |
          # ctest --output-on-failure
          ./TravelTests
